# API Keys
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# Vector DB Configuration
VECTOR_DB_DIR=d:/Abhishek PM/PROJECT 2 - MF WITH RAG/data/vectordb

# Ingestion Configuration
CURATED_AMC=HDFC
DATA_RAW_DIR=d:/Abhishek PM/PROJECT 2 - MF WITH RAG/data/raw
DATA_PROCESSED_DIR=d:/Abhishek PM/PROJECT 2 - MF WITH RAG/data/processed
